numpy
pypdf==4.0.1
pypdfium2==4.27.0
python-dotenv==1.0.1
transformers==4.35.2
llama_cpp_python==0.2.39
llama-index==0.9.46
sentence-transformers==2.3.1
streamlit==1.4.0
langchain==0.1.6
langchain-community==0.0.19
langchain-core==0.1.22
chromadb==0.4.22
huggingface-hub==0.20.3
pysqlite3-binary==0.5.2
openai
PyPDF2==3.0.1
llama-index-llms-openai
nltk==3.8.1
#llama_index.core
textblob==0.17.1
llama_index-core.llms
llama-index-core
